parameters:
	paths:
		- src
	excludePaths:
		- src/App/Console/Config/TypeCollection.php
	level: max
includes:
	- vendor/phpstan/phpstan-symfony/extension.neon
	- vendor/samlitowitz/phpstan-opinionated-nomenclature/extension.neon
